.log-wraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-form{
    background-color: rgb(232, 195, 195);
    min-width: 200px;
    text-align: center;

}

