.sideBar{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #0E131B; 
    padding: 3rem 1.5rem 1rem 1.5rem;

    .sideBar-top{
        width: 100%;

        .logo{
            padding-bottom: 1.3rem;
            border-bottom: 1px solid #232F43;
        }

        nav {
            .navItem {
                color: #D7DEEA;
                padding: .8rem 1.2rem;
            }

            a.navItem p:hover {
                background-color: #151C28; 
            }
        }
    }
    .logOut{
        background-color: transparent;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: hsl(218, 40%, 20%);
        padding: .5rem 1rem;
        cursor: pointer;
        outline: none;
        border: none;
    }
}

// @media only screen and (max-width: 425px) {
//     .sideBar {
//         display: flex;
//         flex-direction: row;
//         width: 100%;
//         background-color: #0E131B;
//         color: #D7DEEA;
//         padding: 1rem 1.5rem 1rem 1.5rem;
//         .logo {
//             display: none;
//         }
//         nav {
//             display: flex;
//             width: 100%;
//             flex-direction: row;
//             justify-content: space-between;
//             a.navItem {
//                 color: #D7DEEA;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-content: center;
//                 .navIcon{
//                     font-size: 1.3rem;
//                     align-self: center;
//                     margin-bottom: 5px;
//                 }
//             }   
//         }
//         .logOut {
//             display: none;
//         }
//     }
// }
// @media only screen and (max-width: 768px) {
//     .sideBar {
//         display: flex;
//         flex-direction: row;
//         width: 100%;
//         background-color: #0E131B;
//         color: #D7DEEA;
//         padding: 1rem 1.5rem 1rem 1.5rem;
//         .logo {
//             display: none;
//         }
//         nav {
//             display: flex;
//             width: 100%;
//             flex-direction: row;
//             justify-content: space-between;
//             a.navItem {
//                 color: #D7DEEA;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-content: center;
//                 .navIcon{
//                     font-size: 1.5rem;
//                     align-self: center;
//                     margin-bottom: 5px;
//                 }
//             }   
//         }
//         .logOut {
//             display: none;
//         }
//     }
// }

// .navItem p{
//     color:#E4E9F1;
//     line-height: 1.5rem;
//     padding: 5px 0 5px 10px;
// }

// .navItem:hover p{
//     background-color: #1a1b21;
// }

/* .wraper{
    display: flex;
    height: 100vh;
    width: 300px;
    background-color: blue;
    
}
.wraper-sidebar{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    
}
 

.options{
    margin-top: 20px;
    background-color: rgb(99, 207, 207);
} */