.sideBar{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #272932;
    padding: 2.5rem 1.4rem 2rem 1rem;
}

.navItem p{
    color:#E4E9F1;
    line-height: 1.5rem;
    padding: 5px 0 5px 10px;
}

.navItem:hover p{
    background-color: #1a1b21;
}

/* .wraper{
    display: flex;
    height: 100vh;
    width: 300px;
    background-color: blue;
    
}
.wraper-sidebar{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    
}
 

.options{
    margin-top: 20px;
    background-color: rgb(99, 207, 207);
} */