// @media only screen and (max-width: 425px) {
//     .Admin{
//         width: 100vw;
//         height: 100vh;
//         display: flex;
//         flex-direction: column-reverse;
//     }
//   }


.Admin {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

main {
    padding: 2rem;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
}

//
.topBar {
    height: 20vh;
    padding: 2.5rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnBack {
    display: flex;
    align-items: center;

    h6 {
        margin-left: 5px;
    }
}

.btns {
    display: flex;
    justify-content: space-between;
}

.btns .btn {
    margin-left: 5px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6rem 1.3rem;
    background-color: aquamarine;
}

.container {
    padding: 0 2rem;
    flex-grow: 1;
    height: 70vh;
    background-color: beige;
}

// ********************************************
// Listing data page
.searchInput {
    margin-bottom: 2rem;

    label {
        margin-right: 10px;
    }

    input.search {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        // transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;

        color: #AFBDD5;
        background-color: transparent;
        outline: none;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border: 0;
        border-bottom: 1px solid #AFBDD5;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        // transform-style: preserve-3d;
    }

    input.search::placeholder {
        color: #AFBDD5;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    input.search:hover,
    input.search:focus {
        padding: 12px 0;
        outline: none;
        // border: 1px solid transparent;
        border-bottom: 1px solid hsl(218, 11%, 42%);
        border-radius: 0;
        background-position: 100% center;
    }

}

.listAll {
    .container {
        padding: 0;
        background-color: white;
        padding: 1rem 1rem 0 1rem;
        // searchBox



        // list
        .List {
            height: 80%;
            flex-grow: 1;
            overflow-y: auto;
padding-bottom: 2rem;
            .ListItem {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: 15px;
                border-bottom: 1px solid #E8E9ED;
            }
            .ListItem-data_header{
                display: flex;
                flex: 3;
                align-items: flex-end;
                font-size: 17px;
                .space{
                    font-weight: bold;
                    padding: 0 10px;
                    font-size: 1rem;
                    color: #AFBDD5;
                }
            }
            .ListItem-data{
                display: flex;
                justify-content: left;
                align-items: center;
                flex: 1;
                
                .ListItem-data_icon{
                    font-size: 16px;
                    margin-right: 5px;
                }
                p {
                    font-size: 15px;
                }
            }
            .ListItem:hover{
                background-color: #afbdd527;;
            }
            .ListItem-data .deleteItem{
                flex-shrink: 50px;
            }
            .deleteItem{
                justify-content: center;
            }
            .deleteItem button{
                width: 100%;
            }
            .deleteItem button:hover{
                font-size: 17px;
                color:red
            }
            
        }
    }
}


// ********************************************
.SinglePage {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .topBar {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .options {
            margin-top: 1.5rem;
            display: flex;
            justify-content: space-between;

            .header {
                span {
                    margin-top: .4rem;
                    font-size: .6rem;
                }
            }
        }
    }

    .info {
        padding: 0 3rem;
        height: 75%;
        align-items: flex-start;

        .showInfo {
            display: flex;
            align-items: center;
            margin: 0 auto;
            border-bottom: 1px solid #E8E9ED;
            padding-bottom: 1.5rem;

            .candidateImg {
                width: 140px;
                margin-right: 2.5rem;
                border-radius: 50%;
            }

            .showInfo-data {
                h4,
                h4 a {
                    font-size: 1.1rem;
                    margin: 15px 0;
                    span{
                        font-size: .7rem;
                        color: #63677E;
                    }
                }
                .line{
                    border-bottom: 1px solid #E8E9ED;
                    margin: 30px 0 40px 0;
                }

                p {
                    margin: 4px 0;
                    font-size: .8rem;
                    color: #63677E;
                    display: flex;
                    align-items: flex-end;

                    .showInfo-data_icon {
                        color: #272932;
                        font-size: 1rem;
                        margin-right: .3rem;
                    }
                }
                .showInfo-data_report p{
                    margin: 15px 0;
                }
            }
            
        }
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.reports {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.reportsFor{
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.reportListItem{
    width: 100%;
    padding: 0 10px;
    margin: 40px 0 20px 0;
    a {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #E8E9ED;
        padding-bottom: 10px;
        .ListItem-data_header{
            flex: 2;
            padding-left: 30px;
            h5 {
                font-size: 14px;
            }
        }
        .ListItem-data{
            flex: 1 ;
            display: flex;
            flex-direction: row;
            font-size: 14px;
        }
    }
}

.container_newReport{
    width: 80%;
}