@import '../../components/Mobile/mobile.scss';
@import '../../components/Desktop/desktop.scss';

#main{
    flex-grow: 1;
    overflow-y: auto;
}

.container{
    flex-grow: 1;
    overflow-y: auto;
}
.List {
    flex-grow: 1;
    overflow-y: auto;
    .ListItem {
        display: flex;
        align-items:flex-end;
        border-bottom: 1px solid #E4E9F1;
        h4{
            flex:2;
        }
        p{
            flex:1;
        }
        &:hover{
            background-color: rgba(228, 233, 241, 0.2);
        }
    }
    .ListItem-report{
        
        .ListItem-data_main{
            flex: 4;
        }
        .ListItem-data_status{
            display: flex;
            flex: 2;
        }
        .ListItem-data_phase{
            flex: 1;
        }
        .deleteItem button svg{
            background: transparent;
        }
        .deleteItem{
            background: transparent;
        }
    }
}

// 
.ListItem-icon{
    margin-right: 5px;
}
.ListItem-icon_passed{
    fill: green;
}
.ListItem_icon_declined{
    fill: #9D1B23;
}

.singlePage{
    .topBar{
        .options{
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header{
                span{
                    font-size: 12px;
                }
            }
            .btns{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: end;
                .btnEdit{
                    margin-left: 10px;
                }
                
            }
        }
    }
}

.reportListItem:hover { 
    background-color: rgba(228, 233, 241, 0.2);
}

.interview-info{
    margin-left: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
}


//
 input.addInput{
    height: 40px;
    border: none;
    border-bottom: 1px solid #E4E9F1;
}

.ListItem-data_main h5{
display: flex;
flex-direction: row;
margin-top: 3px;
svg {
    font-size: 16px;
    margin-right: 5px;
}
}

#showInfoCompany{
    display: flex;
    align-items: flex-start;
}

#reportNotes{
    display: flex;
    align-items: flex-start;
}
#reportNotes span{
    font-size: 14px;
    line-height: 22px;
}